name: Release

permissions:
  id-token: write # Required for OIDC
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
        env:
          NODE_AUTH_TOKEN:

      - name: Setup
        run: npm i -g @antfu/ni

      - name: Install
        run: nci

      - name: Build
        run: nr build

      - name: Typecheck
        run: nr typecheck

      - name: Publish to NPM
        run: pnpm -r publish --access public --no-git-checks

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
