name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    - name: Log env
      run: |
        echo "NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}"
        echo "NPM_TOKEN: ${{ secrets.NPM_TOKEN }}"
        echo "REGISTRY_TOKEN: ${{ secrets.REGISTRY_TOKEN }}"

    - uses: sxzz/workflows/.github/workflows/release.yml@v1
      with:
        publish: true
      permissions:
        contents: write
        id-token: write
